/* Body = hela sidans bakgrund. Tar bort default-marginalen 
   som webbläsaren annars lägger till automatiskt runt sidan */
   body
   {
       margin: 0px;
       background-color: gainsboro;
   }
   
   /* Wrapper = en "låda" som samlar allt innehåll och centrerar 
      det på sidan med margin: auto */
   #wrapper
   {
       width: 1400px;
       margin: auto;
   }
   
   /* Top = det översta svarta fältet högst upp på sidan och ändrar font på texten och storleken hur bred o lång dem ska va  */
   #top
   {
       background-color: #252525;
       height: 24px;
       width: 100%;
       padding: 10px;
       color: #ffffff;
       font-family: Verdana, Geneva, sans-serif;
       font-size: 12px;
       letter-spacing: 1px;
   }
   
   /* Toplinks = länkarna inuti top-fältet. Floatas åt vänster  */
   #toplinks
   {
       margin-left: 115px;
       float: left;
   }
   
   /* Alla <a>-taggar inuti top ska vara vita och ingen dekoration på texten */
   #top a
   {
       color: #ffffff;
       text-decoration: none;
   }
   
   /* När man hovrar med musen över en länk i top byter den färg till orange */
   #top a:hover
   {
       color: #f7641d;
   }
   
   /* Divider = de små strecken/mellanrummen mellan länkarna. Jag fick hjälp av AI där de sa att jag  måste man skriva punkt istället för # */
   .divider
   {
       padding-left: 8px;
       padding-right: 8px;
   }
     /* De hamnar uppe till höger.*/
   #right-info
   {
       float: right;
       margin-left: 220px;
   }
   
   /* Header = det vita fältet med logga och menyer under top-fältet */
   #header
   {
       height: 81px;
       background-color: #ffffff;
       width: 100%;
       color: #000000;
       font-family: Verdana, Geneva, sans-serif;
       font-size: 12px;
       letter-spacing: 1px;
   }
   
   /* Länkar inuti header ska vara svarta och ingen dekoration på texten*/
   #header a
   {
       color: #000000;
       text-decoration: none;
   }
   
   /* Hover-effekt för länkar i header, samma orange som i top */
   #header a:hover
   {
       color: #f7641d;
   }
   
   /* Headermid = loggan i mitten av header, hamnar också i vänster lite */
   #headermid
   {
       float: left;
       padding-left: 120px;
   }
   /* Headerright = länkarna till höger i header */
   #headerright
   {
    float: left;
    margin-left: 120px;
    padding-top: 34px;
}